{% extends 'base.html.twig' %}

{% block title %}EventFoodtruck{% endblock %}

{% block body %}
    <h1>EventFoodtruck</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_foodtruck.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ event_foodtruck.day }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ event_foodtruck.hours }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ event_foodtruck.place }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ event_foodtruck.createdAt ? event_foodtruck.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ event_foodtruck.updatedAt ? event_foodtruck.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_office_event_foodtruck_index') }}">back to list</a>

    <a href="{{ path('back_office_event_foodtruck_edit', {'id': event_foodtruck.id}) }}">edit</a>

    {{ include('back_office/event_foodtruck/_delete_form.html.twig') }}
{% endblock %}
