{% extends 'base.html.twig' %}

{% block title %}BackOffice - Liste FoodTruck
{% endblock %}

{% block body %}
	<h1>Liste FoodTruck</h1>

	<a href="{{ path('back_office_foodtruck_new') }}" class="btn btn-primary mx-3">Crée</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Portable</th>
				<th>Présentation</th>
				<th>Image</th>
				<th>Instagram</th>
				<th>Twitter</th>
				<th>Facebook</th>
				<th>Crée le</th>
				<th>Modifier le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for foodtruck in foodtrucks %}
				<tr>
					<td>{{ foodtruck.id }}</td>
					<td>{{ foodtruck.name }}</td>
					<td>{{ foodtruck.numTel }}</td>
					<td>{{ foodtruck.overview }}</td>
					<td>{{ foodtruck.picture ? foodtruck.picture : 'Null'}}</td>
					<td>{{ foodtruck.instagram ? foodtruck.instagram : 'Null'}}</td>
					<td>{{ foodtruck.twitter ? foodtruck.twitter : 'Null'}}</td>
					<td>{{ foodtruck.facebook ? foodtruck.facebook : 'Null'}}</td>
					<td>{{ foodtruck.createdAt ? foodtruck.createdAt|date('Y-m-d') : '' }}</td>
					<td>{{ foodtruck.updatedAt ? foodtruck.updatedAt|date('Y-m-d') : '' }}</td>
					<td>
						<a href="{{ path('back_office_foodtruck_show', {'id': foodtruck.id}) }}" class="btn btn-primary">
							<i class="far fa-eye"></i>
						</a>
						<a href="{{ path('back_office_foodtruck_edit', {'id': foodtruck.id}) }}" class="btn btn-warning mx-2">
							<i class="far fa-edit"></i>
						</a>
						<a href="{{ path('back_office_foodtruck_delete', {'id': foodtruck.id}) }}" class="btn btn-danger mx-2">
							<i class="fas fa-trash-alt"></i>
						</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
