{% extends 'base.html.twig' %}

{% block title %}BackOffice - Liste Faq{% endblock %}

{% block body %}
    <h1>Liste Faq</h1>

    <a href="{{ path('back_office_faq_new') }}" class="btn btn-primary mx-3">Crée</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.reponse }}</td>
                <td>{{ faq.createdAt ? faq.createdAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ faq.updatedAt ? faq.updatedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('back_office_faq_show', {'id': faq.id}) }}"><i class="far fa-eye fa-2x"></i></a>
                    <a href="{{ path('back_office_faq_edit', {'id': faq.id}) }}"><i class="far fa-edit fa-2x"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_office_faq_new') }}" class="btn btn-primary mx-3">Crée</a>
{% endblock %}
