{% extends 'base.html.twig' %}

{% block title %}BackOffice - Liste Faq{% endblock %}

{% block body %}
    <h1>Liste Faq</h1>

    <a href="{{ path('back_office_faq_new') }}" class="btn btn-primary mx-3">Créer</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>Crée le</th>
                <th>Modifier le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.reponse }}</td>
                <td>{{ faq.createdAt ? faq.createdAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ faq.updatedAt ? faq.updatedAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('back_office_faq_show', {'id': faq.id}) }}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                    <a href="{{ path('back_office_faq_edit', {'id': faq.id}) }}" class="btn btn-warning mx-2"><i class="far fa-edit"></i></a>
                    <a href="{{ path('back_office_faq_delete', {'id': faq.id}) }}" class="btn btn-danger mx-2"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
