{% extends 'base.html.twig' %}

{% block title %}BackOffice - Liste Events
{% endblock %}

{% block body %}
	<h1>Event</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ event.id }}</td>
			</tr>
			<tr>
				<th>Day</th>
				<td>{{ event.day }}</td>
			</tr>
			<tr>
				<th>Hours</th>
				<td>{{ event.hours }}</td>
			</tr>
			<tr>
				<th>Hours end</th>
				<td>{{ event.hoursend }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ event.adresse }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('back_office_event_index') }}" class="btn btn-primary">
		<i class="fas fa-undo-alt"></i>
	</a>

	<a href="{{ path('back_office_event_edit', {'id': event.id}) }}" class="btn btn-warning mx-2">
		<i class="far fa-edit"></i>
	</a>

	{{ include('back_office/event/_delete_form.html.twig') }}
{% endblock %}
